
.features {
  margin: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col_1, .col_2, .col_3 {
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  color: #4a4a49;
}

.img {
  width: 4rem;
  height: 4rem;
  opacity: 0.4;
  margin-bottom: 1.5rem;
}

.col_1 p, .col_2 p, .col_3 p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
